// .ds-login{
//     display: none;
// }

.iziModal-overlay{
    z-index: 999998 !important;
}

#login-modal{
    z-index: 999999 !important;
}

.ds-login-container{
    background: #f7f7f7;
    padding: 30px;    

    p.status{
        margin-bottom: 15px;

        span.alert{
            color: #e63757;
        }

        span.success{
            color: #00d27a;
        }
    }
}

#username, #password{
    width: 100%;
    padding: 14px 4% !important;
    border-width: 0;
    border-radius: 3px;
    color: #666;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    -webkit-appearance: none;
    margin-bottom: 15px;
}

.submit_button{
    background-color: $prim;
    border-color: $prim;
    border-radius: 0px;
    color: #ffffff!important;
    letter-spacing: 2px;
    float: right;
    font-size: 14px;
    font-family: 'Nunito',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    padding: 15px 20px;
    @include transition(all 0.5s ease);

    &:hover, &:active{
        border-color: $sec;
        background-color: $sec;
    }
}

.icon-close{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 15px;
    background: #b7b4b4;
    color: #fff;
    line-height: normal;

    &:hover, &:active{
        background: #8c8787;
    }
}